@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: black;
    /* background: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

/* navbar */
#logo{
    color: white;
    font-size: xx-large;
 }
.navBase{
    background: #000000;
  
    border-bottom: #807d7d solid;
     border-width: 1px;
}
.navbar-nav li a{
    color: white;
}
.dropdown-menu{
    width: 20rem;
    
    
}
.dropdown-menu .show{
    background-color: #000000;
    
}
.dropdown-menu li a{
    background-color: #000000;
}
.icons a{
    font-size: large;
    padding-left: 30px;
    text-decoration:  none;
    color: white;
} 

/*  */
.nav-link{
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 10px;
}
.nav-link:hover{
    color: black;
    background: rgba(255, 255, 255, 0.726);
}
.carousel-inner .carousel-item img{
    height: 80vh;
    object-fit: cover;
    object-position: center;

}
.overlay{
    position: absolute;
    background: rgba(0, 0, 1, 0.8);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.brands img{
    width: 16.5%;
    aspect-ratio: 3/2;
    object-fit: contain;
}


.accordion-button { 
    background-color: #272222;
    color: #ffffff;

}

@media screen and (min-width: 676px) {
    .modal-dialog {
      max-width: 600px; /* New width for default modal */
    }
}
